<mat-list *ngFor="let user of users" role="list">
  <mat-list-item
    [ngClass]="{ 'active-chat': activeUser === user }"
    style="cursor: pointer; overflow: hidden; height: 70px"
    (click)="memberClicked(user)"
    role="listitem"
  >
    <div class="user-dp">
      <img
        *ngIf="user.userInfo.photo !== undefined"
        style="
          margin-right: 10px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
        "
        src="{{ user.userInfo.photo }}"
      />

      <span
        style="font-size: 40px; width: 35px; height: 35px; margin-right: 10px"
        *ngIf="user.userInfo.photo === undefined"
        class="material-icons"
      >
        account_circle_outlined
      </span>
    </div>
    <div class="chat-right">
      <div class="chat-right-up">
        <div class="name">
          {{ user.userInfo.displayName }}
        </div>

        <div
          [ngClass]="{
            'green-color': user.chatInfo[adminUser.uid].unReadCount != 0
          }"
          class="time"
        >
          {{ displayCurrentTime(user.chatInfo.lastMessageTime) }}
        </div>
      </div>

      <div class="chat-right-down">
        <div isEllipsisActive class="message">
          {{ user.chatInfo.lastMessage }}
        </div>

        <div
          *ngIf="user.chatInfo[adminUser.uid].unReadCount != 0"
          class="newMessages"
        >
          {{ user.chatInfo[adminUser.uid].unReadCount }}
        </div>
      </div>
    </div>
  </mat-list-item>
</mat-list>
