<div *ngIf="showUI" class="chat-window-container">
  <mat-toolbar
    style="
      height: 70px;
      font-weight: 400;
      position: sticky;
      margin-bottom: 20px;
      top: 0;
      z-index: 1000;
      border-bottom: 1px solid #ddd;
    "
  >
    <div *ngIf="user.photo !== undefined" class="user-dp">
      <img
        style="
          margin-right: 10px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
        "
        src="{{ user.photo }}"
      />
    </div>
    <span
      style="font-size: 40px; width: 35px; height: 35px; margin-right: 10px"
      *ngIf="user.photo === undefined"
      class="material-icons"
    >
      account_circle_outlined
    </span>

    <span>{{ user.displayName }}</span>
  </mat-toolbar>

  <ng-container *ngIf="!invitation">
    <div
      id="scrollToChat"
      infiniteScroll
      [infiniteScrollUpDistance]="2"
      [infiniteScrollThrottle]="1000"
      (scrolledUp)="scrollHandler($event)"
      [scrollWindow]="false"
      scrollable
      style="
        padding-left: 50px;
        padding-right: 50px;
        height: 90vh;
        overflow-y: auto;
      "
    >
      <mat-spinner
        diameter="40"
        style="margin: 0 auto"
        mode="indeterminate"
        *ngIf="showSpinner"
      ></mat-spinner>
      <div
        [ngClass]="{
          sent: message.sentBy === adminUser.uid,
          received: message.sentBy === user.uid
        }"
        *ngFor="let message of messages"
        class="message sent"
      >
        {{ message.message }}

        <span class="metadata">
          <span class="time">{{ getTime(message.time) }}</span>
          <!-- <span *ngIf="message.sent === true" class="tick"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="15"
            id="msg-dblcheck-ack"
            x="2063"
            y="2076"
          >
            <path
              d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.88a.32.32 0 0 1-.484.032l-.358-.325a.32.32 0 0 0-.484.032l-.378.48a.418.418 0 0 0 .036.54l1.32 1.267a.32.32 0 0 0 .484-.034l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.88a.32.32 0 0 1-.484.032L1.892 7.77a.366.366 0 0 0-.516.005l-.423.433a.364.364 0 0 0 .006.514l3.255 3.185a.32.32 0 0 0 .484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"
              fill="#4fc3f7"
            /></svg
        ></span> -->
        </span>
      </div>
    </div>

    <mat-toolbar
      *ngIf="!blockedUser.includes(userId) && !blockedBy.includes(userId)"
      style="height: 80px; font-weight: 400; border-top: 1px solid #ddd"
    >
      <div class="input-group mb-3">
        <input
          style="background: #f0f0f0; border-radius: 10px; font-size: 15px"
          type="text"
          [(ngModel)]="message"
          class="form-control custom-search-input input-lg"
          placeholder="Search"
          aria-describedby="basic-addon2"
          (keyup.enter)="sendMessage()"
        />
      </div>

      <button
        [disabled]="message.length == 0"
        (click)="sendMessage()"
        mat-button
      >
        <span class="material-icons"> send </span>
      </button>
    </mat-toolbar>

    <mat-toolbar
      *ngIf="blockedUser.includes(userId) || blockedBy.includes(userId)"
      style="height: 50px; background-color: #ededed; font-weight: 400"
    >
      You cannot reply to this conversation
    </mat-toolbar>
  </ng-container>

  <div
    style="
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 90vh;
    "
    *ngIf="invitation && sentBy !== adminUser.uid"
  >
    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      "
    >
      <div style="margin: 30px" class="user-dp">
        <img
          *ngIf="user.photo !== undefined"
          style="
            margin-right: 10px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
          "
          src="{{ user.photo }}"
        />

        <span
          style="
            font-size: 100px;
            width: 100px;
            height: 100px;
            margin-right: 10px;
            overflow: hidden;
          "
          *ngIf="user.photo === undefined"
          class="material-icons"
        >
          account_circle_outlined
        </span>
      </div>

      <div style="font-size: 18px; margin-bottom: 20px">
        {{ user.displayName }} wants to Send you message
      </div>

      <div>
        <button
          style="border-radius: 100px; height: 40px; width: 150px; margin: 20px"
          (click)="onAccept()"
          mat-raised-button
          color="primary"
        >
          Accept
        </button>

        <button
          style="border-radius: 100px; height: 40px; width: 150px; margin: 20px"
          (click)="onRemove()"
          mat-raised-button
          color="primary"
        >
          Ignore
        </button>
      </div>
    </div>
  </div>

  <div class="waiting" *ngIf="invitation && sentBy === adminUser.uid">
    <div style="text-align: center; font-size: 20px; font-weight: 500">
      Chat Request Sent Waiting for Response
    </div>
  </div>
</div>
