<mat-list *ngFor="let user of users" role="list">
  <mat-list-item
    style="cursor: pointer"
    (click)="memberClicked(user)"
    role="listitem"
  >
    <div class="user-dp">
      <img
        *ngIf="user.photo !== undefined"
        style="
          margin-right: 10px;
          width: 35px;
          height: 35px;
          border-radius: 50%;
        "
        src="{{ user.photo }}"
      />

      <span
        style="font-size: 40px; width: 35px; height: 35px; margin-right: 10px"
        *ngIf="user.photo === undefined"
        class="material-icons"
      >
        account_circle_outlined
      </span>
    </div>

    {{ user.displayName }}</mat-list-item
  >
</mat-list>
