/* You can add global styles to this file, and also import other style files */

@import "~ngx-toastr/toastr";
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
}

table.mat-table {
  border-spacing: 0;
  width: 100%;
}

/* .mat-toolbar-row,
.mat-toolbar-single-row {
  height: 36px !important;
} */

.mat-tab-label,
.mat-tab-label-active {
  min-width: 130px !important;
  padding: 3px !important;
  margin: 0px 10px !important;
}

.mat-drawer-container {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
}

.mat-toolbar {
  background: white;
  color: rgba(0, 0, 0, 0.87);
}
